name: Update Notion ETF Prices

on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:

jobs:
  update-prices:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      # requirements.txt가 있는 폴더로 들어가서 설치합니다.
      - name: Install dependencies
        working-directory: ./notion_stock_updater
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      # main.py가 있는 폴더로 들어가서 실행합니다.
      - name: Run Python script
        working-directory: ./notion_stock_updater
        env:
          NOTION_API_KEY: ${{ secrets.NOTION_API_KEY }}
          DATABASE_ID: ${{ secrets.DATABASE_ID }}
        run: python main.py
